.hamburger-cont,
.hambi-cross-div,
.user-account-section-dropdown {
  display: none;
}

.nav-cont-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.7rem;
  word-wrap: break-word;
}

.user-account-section-dropdown {
  display: none;
}

.logo-search {
  display: flex;
  align-items: center;
}
.logo-search img {
  width: 100px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo-search form {
  min-width: 35vw;
  position: relative;
}
.logo-search form input {
  background-color: #f4f5f7;
  background-repeat: no-repeat;
  border: 0;
  height: auto;
  width: 100%;
  border-radius: 8px;
  color: #575d5e;
  font-size: 14px;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(0, 130, 195, 0);
  transition: all 0.5s ease;
}
.logo-search form label {
  position: absolute;
  left: 0;
  top: 10px;
  left: 10px;
}

.help-shop-section {
  display: flex;
}

.user-help-shops-account-nav i {
  font-size: 1.1rem;
  color: orange;
}

.user-help-shops-account-nav ul li {
  margin-right: 20px;
  padding: 5px;
}

.user-help-shops-account-nav ul li:nth-child(1):hover,
.user-help-shops-account-nav ul li:nth-child(2):hover,
.user-help-shops-account-nav ul li:nth-child(4):hover {
  background: rgba(218, 151, 19, 0.149);
  border-radius: 30px;
}

.user-help-shops-account-nav,
.user-help-shops-account-nav ul,
.user-support-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.9rem;
}

.user-support-nav {
  padding-right: 20px;
}
.user-support-nav p:nth-child(1) {
  font-weight: 900;
}
.user-support-nav i {
  margin-right: 10px;
  font-size: 2rem;
}

.user-account-section-nav {
  flex-grow: 2;
  padding: 10px 2px;
}

.user-account-section-nav:hover {
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown-menu-categories {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-categories-btn {
  font-size: 1.1rem;
  border: none;
  background: inherit;
  padding: 25px;
  position: relative;
  font-weight: 800;
}
.dropdown-categories-btn:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 42%;
  bottom: 0;
  border: 7px solid transparent;
  border-left: 7px solid orange;
  transform: rotate(90deg);
}
.dropdown-categories-btn:hover {
  color: orange;
}

.dropdown-categories-btn:nth-child(12) {
  color: red;
}

.dropdown-categories-btn:nth-child(14) {
  border-radius: 1px;
  background-color: #3b3e43;
  padding: 20px 25px;
  color: white;
}

.dropdown-menu-subcategories-cont {
  display: flex;
  position: relative;
  height: 80vh;
  margin-inline: 15rem;
  border: 1px solid black;
}

.dropdown-sub-categories-main-cont {
  display: none;
  position: absolute;
  z-index: 3;
  top: 170px;
  width: 100vw;
  background: #f4f5f7;
}

.dropdown-sub-categories-main-cont-men {
  width: 100%;
}

.dropdownp-sub-sub {
  margin: 1rem 0;
  display: flex;
  font-weight: 500;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
}

.dropdownp-sub-sub-ul {
  width: 13%;
  background: rgb(242, 242, 242);
}
.dropdownp-sub-sub-ul li {
  padding: 3px 5px;
  padding-top: 10px;
  font-size: 0.75rem;
}
.dropdownp-sub-sub-ul .dropdownp-sub-sub-div_img-name {
  width: 100%;
  display: flex;
  align-items: center;
  background: #eaeaea;
}
.dropdownp-sub-sub-ul img {
  width: 60px;
}
.dropdownp-sub-sub-ul span {
  color: #000000;
  font-weight: 900;
  padding-left: 5%;
  font-size: 0.9rem;
}

.dropdown-sub-categories-main-cont-men .dropdownp-sub-sub-ul {
  width: 20%;
}

.dropdown-sub-categories-main-cont-children .dropdownp-sub-sub-ul {
  width: 16%;
}

.dropdownp-sub-sub-ul a:hover {
  color: orange;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropdown-categories-btn:hover .dropdownp-sub-sub {
  display: block;
}

@media (min-width: 1200px) {
  .dropdown-categories-btn:hover + .dropdown-sub-categories-main-cont {
    display: block;
  }
  .dropdown-sub-categories-main-cont:hover {
    display: block;
  }
}
@media (max-width: 1000px) {
  .nav-cont-top {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .hamburger-cont {
    position: absolute;
    padding: 10PX;
    top: 20%;
    left: 6%;
    display: block;
    cursor: pointer;
  }
  .hamburger-cont i {
    font-size: 1.5rem;
    color: orange;
  }
  .hambi-cross-div {
    z-index: 3;
    display: block;
    position: relative;
  }
  .hambi-cross-div i {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
  }
  .hamburger-cont:HOVER {
    background-color: rgba(218, 151, 19, 0.149);
    border-radius: 100px;
  }
  .hamburger-cont i:active {
    scale: 1.2;
  }
  .logo-search {
    flex-direction: column;
  }
  .logo-search form {
    width: 90vw;
  }
  .shoping-cart-icon {
    position: absolute;
    top: 20%;
    right: 4%;
    padding: 10px;
  }
  .shoping-cart-icon i {
    font-size: 1.5rem;
  }
  .user-support-nav,
  .help-shop-section,
  .user-account-section-nav {
    display: none;
  }
  .dropdown-menu-categories {
    display: none;
    padding-top: 3.4rem;
    box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    flex-direction: column;
    width: 70VW;
    height: 100vh;
    position: relative;
    top: -145px;
    z-index: 2;
    background: rgb(246, 243, 237);
    font-size: 0.9rem;
  }
  .dropdown-categories-btn {
    z-index: 1;
    display: flex;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
  }
  .dropdown-categories-btn::after {
    content: "";
    rotate: 268deg;
    position: absolute;
    top: 20px;
    left: 90%;
    border-left: orange solid 6px;
  }
  .dropdown-categories-btn:nth-child(3) {
    border-top: 0.1px solid;
  }
  .user-account-section-dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display: flex;
    margin: 10px 10px;
  }
  .user-account-section-dropdown a {
    font-size: 0.9rem;
    display: flex;
    margin-left: 4px;
  }
  .user-account-section-dropdown a:nth-child(3) {
    color: blue;
  }
  .user-account-section-dropdown a:nth-child(3):hover {
    text-decoration: underline;
  }
  .dropdown-sub-categories-main-cont {
    display: none;
    box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 2px 7px 73px 20px rgba(0, 0, 0, 0.26);
    height: 100vh;
    width: 70VW;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgb(246, 243, 237);
    font-size: 0.9rem;
    padding-top: 30px;
  }
  .dropdownp-sub-sub-div_img-name {
    min-width: 70vw;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
  }
  .dropdownp-sub-sub-div_img-name img {
    width: 45px;
  }
  .dropdownp-sub-sub-div_img-name span::after {
    content: ">";
    position: absolute;
    right: 20px;
    z-index: 4;
  }
  .dropdownp-sub-sub-div_img-name:hover {
    background: rgba(218, 151, 19, 0.149);
  }
  .last-categorys-ul {
    display: none;
  }
  .dropdownp-sub-sub {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 3rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 650px) {
  .dropdown-sub-categories-main-cont {
    font-size: 0.75rem;
    padding-left: 5px;
  }
  .dropdownp-sub-sub {
    gap: 10px;
    width: 97%;
    font-size: 0.75rem;
  }
}
.carousel {
  min-height: 50vh;
  position: relative;
}

.carousel > ul {
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide-article {
  position: absolute;
  bottom: 50px;
  left: 30px;
  transition: 300ms opacity ease-in;
  display: flex;
  flex-direction: column;
}
.slide-article button {
  padding: 8px;
  border-radius: 5px;
  max-width: 100px;
  background: yellow;
  color: black;
  font-weight: 800;
  border: none;
}
.slide-article h2 {
  font-weight: 1000;
  font-size: 2.6rem;
  flex: 1;
  color: white;
  margin-bottom: 5px;
}

.slide a > img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: orange;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  left: 1rem;
  top: 53%;
}

.carousel-button.next {
  right: 1rem;
}

@media (max-width: 900px) {
  .carousel {
    margin-top: 1rem;
  }
  .carousel-button {
    font-size: 3rem;
    padding: 1rem;
  }
  .slide > img {
    border-radius: 0;
    width: 100%;
  }
  .prev,
  .next {
    top: 40% !important;
  }
  .slide-article {
    bottom: 5rem;
    left: 4rem;
    font-weight: 500;
  }
}
.prvi-div {
  width: 100%;
  height: 50px;
  background: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.prvi-div #text1 {
  transition-delay: 150ms;
  opacity: 1;
}
.prvi-div #text2 {
  opacity: 0;
}
.prvi-div span {
  transition: opacity 0.3s ease-in-out;
}

.under-carousel-cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
}
.under-carousel-cont img {
  max-width: 100%;
  min-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.under-carousel-cont img:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}
.under-carousel-cont article {
  display: flex;
  flex-direction: column;
}

.special-prices-cont {
  margin-top: 2rem;
  overflow-x: auto;
}
.special-prices-cont .special-prices-card_div {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  scroll-snap-type: proximity;
}
.special-prices-cont article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special-prices-cont article button {
  margin-right: 2rem;
  font-size: 2.4rem;
  padding: 5px 0px;
  background: none;
  border: none;
  color: orange;
  display: none;
}
.special-prices-cont .card-img {
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
  padding: 30px 10px;
}
.special-prices-cont .card-img ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}
.special-prices-cont .card-img img {
  min-width: 100px;
  height: 140px;
}
.special-prices-cont .card-img .card-img_old-price {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding: 10px 10px;
}
.special-prices-cont .card-img .card-img_old-price span {
  text-decoration: line-through;
}
.special-prices-cont .card-img .card-img_old-price p {
  padding-left: 10px;
  color: red;
}
.special-prices-cont .card-img .card-img_new-price {
  padding: 5px 20px;
  background-color: red;
  color: white;
}
.special-prices-cont .card-img .card-img_company-name {
  padding-top: 10px;
}
.special-prices-cont .card-img .card-img_description {
  padding-top: 10px;
  font-weight: 500;
  text-align: center;
}

.popular-categories-section {
  margin: 3rem 0 0 0;
  font-weight: 900;
}
.popular-categories-section h2 {
  margin-bottom: 1rem;
}
.popular-categories-section .popular-categories-cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  text-align: center;
  overflow: auto;
}
.popular-categories-section .popular-categories-cont article {
  min-width: 200px;
}
.popular-categories-section .popular-categories-cont img {
  min-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
}
.popular-categories-section .popular-categories-cont img:hover {
  opacity: 0.8;
  transition: 200ms ease-in-out;
}

.logo-cont {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-top: 4rem;
  text-align: center;
}
.logo-cont article {
  outline: 1px solid black;
  border-radius: 10px;
}
.logo-cont article:hover {
  box-shadow: 8px 7px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 8px 7px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 7px 5px -1px rgba(0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}
.logo-cont img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.recommend-cont {
  margin-top: 4rem;
  overflow-x: auto;
}
.recommend-cont h2 {
  font-weight: bolder;
}
.recommend-cont .recommend-prices-card_div {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  scroll-snap-type: proximity;
  text-align: center;
}
.recommend-cont .card-img {
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
  padding: 30px 10px;
}
.recommend-cont .card-img ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.recommend-cont .card-img img {
  min-width: 150px;
  height: 140px;
}
.recommend-cont .card-img .recommend-img_price {
  margin: 30px 0 10px 0;
  padding: 2px 40px;
  background-color: yellow;
  color: black;
}
.recommend-cont .card-img .recommend-img_description {
  font-weight: 500;
}

.fun-cont {
  margin-top: 4rem;
  overflow: hidden;
  display: flex;
}
.fun-cont h2 {
  font-weight: bolder;
}
.fun-cont .fun_right-div-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.fun-cont .fun_right-div-cont .card-img {
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.15);
  border-radius: 10px !important;
  padding: 30px 10px;
}
.fun-cont .fun_right-div-cont .card-img ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.fun-cont .fun_right-div-cont .card-img img {
  min-width: 150px;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.fun-cont .fun_right-div-cont .card-img .fun-img_price {
  margin: 30px 0 10px 0;
  padding: 2px 40px;
  background-color: yellow;
  color: black;
}
.fun-cont .fun_right-div-cont .card-img .fun-img_description {
  font-weight: 500;
}
.fun-cont .fun_left-div-cont img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 1200px) {
  .under-carousel-cont,
  .logo-cont,
  .recommend-cont,
  .special-prices-cont,
  .popular-categories-section,
  .fun-cont {
    margin-inline: 2rem;
  }
  .card-section {
    overflow-x: scroll;
  }
  .card-section article button {
    display: block;
  }
  .fun-none {
    display: none;
  }
  .fun-cont {
    flex-direction: column;
  }
  .fun_right-div-cont {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 650px) {
  .under-carousel-cont,
  .logo-cont {
    grid-template-columns: repeat(3, 1fr);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: white;
}

button, a {
  cursor: pointer;
}

a {
  color: inherit;
  cursor: pointer;
}

.hover:hover {
  border-radius: 30px;
  background: rgba(218, 151, 19, 0.149);
  cursor: pointer;
}

.backbtnItems {
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
  padding: 5px 150px 0 0;
}

.show {
  display: block;
}

.showw {
  visibility: visible;
}

@media (min-width: 1000px) {
  main {
    margin: 2% 10%;
  }
}
@media (max-width: 900px) {
  ul, li, p, a, span {
    font-size: 0.9rem;
  }
  main {
    margin: 2% 0%;
  }
}
@media (max-width: 560px) {
  ul, li, p, a, span {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=reset.css.map */