.slider-container {
    width: 100%;
   
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.slider-container img {
    width: 100%;
    display: none;
}

.slider-buttons {
    text-align: center;
    margin-top: 10px;
}

.prev-button, .next-button {
    padding: 5px 10px;
    cursor: pointer;
}